Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba:       rgb
Xft.dpi:        96
Xft.scale:      2
Xft.lcdfilter:  lcddefault

Xft.font:              FiraCode Nerd Font
Xft.serif.family:      FiraCode Nerd Font
Xft.sans.serif.family: FiraCode Nerd Font
Xft.monospace.family:  FiraCode Nerd Font Mono

Sxiv.background: #000000
Sxiv.foreground: #000000
